@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* ----------acercaDe------------ */

#acercaDe__main {
  background: linear-gradient(rgba(4, 3, 20, 0.833), rgba(4, 3, 20, 0.833)),
    url(/RollingMed/img/imagenfondoadn.img.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.fontFamily__acercaDe {
  font-family: "Roboto", sans-serif;
  display: flex;
}

.imagenIntegrantes {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 150px;
}

.NombresIntegrantes {
  justify-content: center;
}

.font_frase {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

#Foto_doctora {
  max-width: 100%;
  height:auto;
  border-radius: 5%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

/* Aqui empieza el estilo de la imagen central con el efecto hover*/

.Imagen_central {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Imagen_central figure {
  position: relative;
  height: 800px;
  width: 1000px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 15px 25px (gba 0, 0, 0, 0.5);
  cursor: pointer;
}
.Imagen_central figure img {
  width: 100%;
  height: 100%;
  transition: all 2000ms ease;
}
.Imagen_central figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 2000ms ease;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.Imagen_central figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.Imagen_central figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.Imagen_central figure:hover > img {
  transform: scale(1.3);
}

.Imagen_central figure:hover > .capa h3 {
  color: #fff;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 2000ms ease;
  margin-top: 70px;
}

.Imagen_central figure .capa p {
  color: #fff;
  font-size: 50px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width:990px){

  .fontFamily__acercaDe {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
  }

  .Imagen_central {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .Imagen_central figure {
    position: relative;
    height: 50%;
    width: 1000px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 15px 25px (gba 0, 0, 0, 0.5);
    cursor: pointer;
  }
  .Imagen_central figure img {
    width: 100%;
    height: 100%;
    transition: all 2000ms ease;
  }
  .Imagen_central figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 2000ms ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }

  .Imagen_central figure .capa p {
    color: #fff;
    font-size: x-large;
    width: 80%;
    max-width: 1000px;
    margin: auto;
  }

  .Imagen_central figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }
  
  .Imagen_central figure:hover > .capa h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .Imagen_central figure:hover > img {
    transform:none;
  }
  
  .Imagen_central figure:hover > .capa h3 {
    color: #fff;
    font-weight: 100px;
    margin-bottom: 10px;
    transition: all 2000ms ease;
    margin-top: 10px;
  }


  #Foto_doctora {

    object-fit: cover;
   
  }


  .font_frase {
    font-size:small;
    font-family: "Merriweather", serif;
  }


}

@media screen and (max-width:768px){

  .fontFamily__acercaDe {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
  }

  .Imagen_central {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .Imagen_central figure {
    position: relative;
    height: 50%;
    width: 1000px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 15px 25px (gba 0, 0, 0, 0.5);
    cursor: pointer;
  }
  .Imagen_central figure img {
    width: 100%;
    height: 100%;
    transition: all 2000ms ease;
  }
  .Imagen_central figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 2000ms ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }

  .Imagen_central figure .capa p {
    color: #fff;
    font-size: x-large;
    width: 80%;
    max-width: 1000px;
    margin: auto;
  }

  .Imagen_central figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }
  
  .Imagen_central figure:hover > .capa h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .Imagen_central figure:hover > img {
    transform:none;
  }
  
  .Imagen_central figure:hover > .capa h3 {
    color: #fff;
    font-weight: 100px;
    margin-bottom: 10px;
    transition: all 2000ms ease;
    margin-top: 10px;
  }


  #Foto_doctora {

    object-fit: cover;
   
  }


  .font_frase {
    font-size:small;
    font-family: "Merriweather", serif;
  }


}

@media screen and (max-width:360px){

  .fontFamily__acercaDe {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
  }
}

/* Fin del estilo de imagen central con efecto hover*/
