@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
* {
  font-family: "Mouse Memoirs";
}

.bg-med {
  background-image: url("../src/medicoBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#buttonCargar{
  outline: none;
border: 0;
background-image: linear-gradient(
    to right,
    #0000ff 0%,
    #00e6ff 51%,
    #4400db 100%
  );
  padding: 9px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

#buttonUsuarios{
  outline: none;
  border: 0;
  background-image: linear-gradient(
      to right,
      #0000ff 0%,
      #00e6ff 51%,
      #4400db 100%
    );
    padding: 12px 24px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    margin: 0;
}

#divTurnosCargados{
  background-color: #0099ff5b;
}


.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.botonTarea{
  outline: none;
  border: 0;
}

.botonEditDelete{
  background: transparent;
  outline: none;
  border: 0;
}

