@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
* {
  font-family: "Mouse Memoirs";
}

.bg-med {
  background-image: url("../src/medicoBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-table-turno{
  background-color: #0099FF ;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #5610ec 0%,
    #370f90 51%,
    #230a59 100%
  );
  margin: 5px;
  padding: 15px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


/* #buttonLogin{
outline: none;
border: 0;
background-image: linear-gradient(
    to right,
    #0000ff 0%,
    #00e6ff 51%,
    #4400db 100%
  );
  padding: 9px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}

#buttonTurnos{
outline: none;
border: 0;
background-image: linear-gradient(
    to right,
    #0000ff 0%,
    #00e6ff 51%,
    #4400db 100%
  );
  padding: 12px 24px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  margin: 0;
} */

#divUsuariosCargados{
    background-color: #0099ff5b;
}

.botonDelete{
  background: transparent;
  outline: none;
  border: 0;
  padding: auto;
  margin-right: auto;
}

.botonEdit{
    background: transparent;
    outline: none;
    border: 0;
    margin: auto;
    padding: 0;
}