#imagenLogin{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

#divForm{
    position: relative
}

#buttonLogin{
    background-color: #0099FF
}

/* #Section2{
    position: relative;
} */

#tbodyAdmin{
    background-color: #0099ff
}

#divUsuariosCargados{
    background-color: #0099ffa1
}
#logo img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

